USE [master]
GO
/****** Объект:  Database [CampingBookingDB]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
CREATE DATABASE [CampingBookingDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CampingBookingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CampingBookingDB]
GO
/****** Объект:  User [db_user]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
CREATE USER [db_user] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Объект:  User [db_moderator]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
CREATE USER [db_moderator] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Объект:  User [db_admin]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
CREATE USER [db_admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Объект:  DatabaseRole [camp_user_role]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
CREATE ROLE [camp_user_role]
GO
/****** Объект:  DatabaseRole [camp_moderator_role]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
CREATE ROLE [camp_moderator_role]
GO
/****** Объект:  DatabaseRole [camp_admin_role]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
CREATE ROLE [camp_admin_role]
GO
ALTER ROLE [camp_user_role] ADD MEMBER [db_user]
GO
ALTER ROLE [camp_moderator_role] ADD MEMBER [db_moderator]
GO
ALTER ROLE [camp_admin_role] ADD MEMBER [db_admin]
GO
/****** Объект:  Table [dbo].[AppUsers]    Дата создания скрипта: 16.06.2026 9:15:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](128) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Bookings]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedAt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[BookingServices]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingServiceID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DateFrom] [date] NULL,
	[DateTo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Customers]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Email] [varchar](80) NULL,
	[Notes] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CustomerVisits]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVisits](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[VisitStart] [date] NOT NULL,
	[VisitEnd] [date] NOT NULL,
	[Notes] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Services]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[ServiceType] [varchar](30) NOT NULL,
	[PricePerDay] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Sites]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[SiteID] [int] IDENTITY(1,1) NOT NULL,
	[SiteCode] [varchar](20) NOT NULL,
	[SiteName] [varchar](100) NOT NULL,
	[SiteType] [varchar](30) NOT NULL,
	[Capacity] [int] NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppUsers] ON 

INSERT [dbo].[AppUsers] ([UserID], [Username], [PasswordHash], [RoleID], [IsActive], [CreatedAt]) VALUES (1, N'admin1', N'admin1', 1, 1, CAST(N'2026-06-16' AS Date))
INSERT [dbo].[AppUsers] ([UserID], [Username], [PasswordHash], [RoleID], [IsActive], [CreatedAt]) VALUES (2, N'moder1', N'hash_moder1', 2, 1, CAST(N'2026-06-16' AS Date))
INSERT [dbo].[AppUsers] ([UserID], [Username], [PasswordHash], [RoleID], [IsActive], [CreatedAt]) VALUES (3, N'user1', N'hash_user1', 3, 1, CAST(N'2026-06-16' AS Date))
SET IDENTITY_INSERT [dbo].[AppUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [SiteID], [CheckInDate], [CheckOutDate], [Status], [CreatedByUserID], [CreatedAt]) VALUES (1, 1, 1, CAST(N'2026-07-01' AS Date), CAST(N'2026-07-05' AS Date), N'Booked', 1, CAST(N'2026-06-16' AS Date))
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [SiteID], [CheckInDate], [CheckOutDate], [Status], [CreatedByUserID], [CreatedAt]) VALUES (2, 2, 2, CAST(N'2026-07-10' AS Date), CAST(N'2026-07-15' AS Date), N'Booked', 2, CAST(N'2026-06-16' AS Date))
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [SiteID], [CheckInDate], [CheckOutDate], [Status], [CreatedByUserID], [CreatedAt]) VALUES (3, 3, 3, CAST(N'2026-07-20' AS Date), CAST(N'2026-07-22' AS Date), N'CheckedIn', 3, CAST(N'2026-06-16' AS Date))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingServices] ON 

INSERT [dbo].[BookingServices] ([BookingServiceID], [BookingID], [ServiceID], [Quantity], [DateFrom], [DateTo]) VALUES (1, 1, 1, 2, CAST(N'2026-07-01' AS Date), CAST(N'2026-07-05' AS Date))
INSERT [dbo].[BookingServices] ([BookingServiceID], [BookingID], [ServiceID], [Quantity], [DateFrom], [DateTo]) VALUES (2, 1, 3, 1, CAST(N'2026-07-02' AS Date), NULL)
INSERT [dbo].[BookingServices] ([BookingServiceID], [BookingID], [ServiceID], [Quantity], [DateFrom], [DateTo]) VALUES (3, 2, 2, 2, CAST(N'2026-07-10' AS Date), CAST(N'2026-07-14' AS Date))
SET IDENTITY_INSERT [dbo].[BookingServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Notes]) VALUES (1, N'???? ??????', N'+7 912 345-67-89', N'ivan@mail.ru', N'?????????? ??????')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Notes]) VALUES (2, N'????? ????????', N'+7 913 234-56-78', N'maria@yandex.ru', N'???????????? ????? ?????')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Notes]) VALUES (3, N'??????? ??????', N'+7 914 123-45-67', N'alex@example.com', NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerVisits] ON 

INSERT [dbo].[CustomerVisits] ([VisitID], [CustomerID], [SiteID], [VisitStart], [VisitEnd], [Notes]) VALUES (1, 1, 1, CAST(N'2026-06-01' AS Date), CAST(N'2026-06-03' AS Date), N'???????? ?????')
INSERT [dbo].[CustomerVisits] ([VisitID], [CustomerID], [SiteID], [VisitStart], [VisitEnd], [Notes]) VALUES (2, 2, 2, CAST(N'2026-06-05' AS Date), CAST(N'2026-06-08' AS Date), N'??????????? ?????')
INSERT [dbo].[CustomerVisits] ([VisitID], [CustomerID], [SiteID], [VisitStart], [VisitEnd], [Notes]) VALUES (3, 3, 3, CAST(N'2026-06-10' AS Date), CAST(N'2026-06-12' AS Date), N'???? ??????????')
SET IDENTITY_INSERT [dbo].[CustomerVisits] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (4, N'Guest')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (5, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceType], [PricePerDay], [IsActive]) VALUES (1, N'?????? ???????', N'??????????', CAST(500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceType], [PricePerDay], [IsActive]) VALUES (2, N'?????? ??????????', N'?????', CAST(300.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceType], [PricePerDay], [IsActive]) VALUES (3, N'????????? ?? ?????', N'???????????', CAST(800.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Sites] ON 

INSERT [dbo].[Sites] ([SiteID], [SiteCode], [SiteName], [SiteType], [Capacity], [PricePerNight], [IsActive]) VALUES (1, N'S001', N'?????? ??????', N'??????', 4, CAST(1500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Sites] ([SiteID], [SiteCode], [SiteName], [SiteType], [Capacity], [PricePerNight], [IsActive]) VALUES (2, N'S002', N'??????? ?????', N'?????', 6, CAST(2200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Sites] ([SiteID], [SiteCode], [SiteName], [SiteType], [Capacity], [PricePerNight], [IsActive]) VALUES (3, N'S003', N'?????? ?????', N'????', 2, CAST(1800.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Sites] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__AppUsers__536C85E4A20E7DA9]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
ALTER TABLE [dbo].[AppUsers] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Roles__8A2B61607462A606]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Sites__A12A3367662A2B23]    Дата создания скрипта: 16.06.2026 9:15:41 ******/ 
ALTER TABLE [dbo].[Sites] ADD UNIQUE NONCLUSTERED 
(
	[SiteCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Booked') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookingServices] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sites] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AppUsers]  WITH CHECK ADD  CONSTRAINT [FK_AppUsers_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[AppUsers] CHECK CONSTRAINT [FK_AppUsers_Roles]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_AppUsers] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[AppUsers] ([UserID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_AppUsers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Sites] FOREIGN KEY([SiteID])
REFERENCES [dbo].[Sites] ([SiteID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Sites]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Bookings]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Services]
GO
ALTER TABLE [dbo].[CustomerVisits]  WITH CHECK ADD  CONSTRAINT [FK_CustomerVisits_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerVisits] CHECK CONSTRAINT [FK_CustomerVisits_Customers]
GO
ALTER TABLE [dbo].[CustomerVisits]  WITH CHECK ADD  CONSTRAINT [FK_CustomerVisits_Sites] FOREIGN KEY([SiteID])
REFERENCES [dbo].[Sites] ([SiteID])
GO
ALTER TABLE [dbo].[CustomerVisits] CHECK CONSTRAINT [FK_CustomerVisits_Sites]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Dates] CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Dates]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [CK_BookingServices_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [CK_BookingServices_Qty]
GO
ALTER TABLE [dbo].[CustomerVisits]  WITH CHECK ADD  CONSTRAINT [CK_CustomerVisits_Dates] CHECK  (([VisitEnd]>[VisitStart]))
GO
ALTER TABLE [dbo].[CustomerVisits] CHECK CONSTRAINT [CK_CustomerVisits_Dates]
GO
USE [master]
GO
